In [16]:
import pandas as pd

In [17]:
df = pd.read_csv("train.csv")
df.head()

,id,discourse_id,discourse_start,discourse_end,discourse_text,discourse_type,discourse_type_num,predictionstring
0,423A1CA112E2,1.622628e+12,8.0,229.0,Modern humans today are always on their phone....,Lead,Lead 1,1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 1...
1,423A1CA112E2,1.622628e+12,230.0,312.0,They are some really bad consequences when stu...,Position,Position 1,45 46 47 48 49 50 51 52 53 54 55 56 57 58 59
2,423A1CA112E2,1.622628e+12,313.0,401.0,Some certain areas in the United States ban ph...,Evidence,Evidence 1,60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75
3,423A1CA112E2,1.622628e+12,402.0,758.0,"When people have phones, they know about certa...",Evidence,Evidence 2,76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 9...
4,423A1CA112E2,1.622628e+12,759.0,886.0,Driving is one of the way how to get around. P...,Claim,Claim 1,139 140 141 142 143 144 145 146 147 148 149 15...

In [18]:
updated = df.drop(['id', 'discourse_id' , 'discourse_start', 'discourse_end', 'discourse_type_num', 'predictionstring'], axis = 1)
updated.head()

                                      discourse_text discourse_type
0  Modern humans today are always on their phone....           Lead
1  They are some really bad consequences when stu...       Position
2  Some certain areas in the United States ban ph...       Evidence
3  When people have phones, they know about certa...       Evidence
4  Driving is one of the way how to get around. P...          Claim

In [22]:
updated['discourse_type'].unique()

array(['Lead', 'Position', 'Evidence', 'Claim', 'Concluding Statement',
       'Counterclaim', 'Rebuttal'], dtype=object)

In [30]:
evidence = updated[updated["discourse_type"] == "Evidence"]
evidence.dropna()
evidence = evidence.to_csv("evidence.csv", index = False)

In [31]:
claim = updated[updated["discourse_type"] == "Claim"]
claim.dropna()
claim = claim.to_csv("claim.csv", index = False)

In [32]:
conclusion = updated[updated["discourse_type"] == "Concluding Statement"]
conclusion.dropna()
conclusion = conclusion.to_csv("conclusion.csv", index = False)

In [33]:
counter = updated[updated["discourse_type"] == "Counterclaim"]
counter.dropna()
counter = counter.to_csv("counter.csv", index = False)

In [34]:
rebuttal = updated[updated["discourse_type"] == "Rebuttal"]
rebuttal.dropna()
rebuttal = rebuttal.to_csv("rebuttal.csv", index = False)

In [35]:
rebuttal = pd.read_csv("rebuttal.csv")

In [38]:
rebuttal['discourse_text'][23]

"However, it is an illusion of safety because when people need it the most either they can't find it or reach it because they are stuck in a car."